body {
	background-color: #000000;
	color: #FFFFFF;
	max-width:670px;
	margin: auto;
	font-size: large;
	margin-bottom: 10px;
	letter-spacing: 4px;
}
a, a:visited {
	text-decoration: underline;
	color: inherit;
}
i, em {
	color: #ffd700;
}
h1, h4 {
	text-align: right;
}
h2 {
	font-size: 30pt;
	color: #c8a2c8;
}
h4 {
	font-style: italic;
}
.blink1 {
	animation: blinker 1s linear infinite;
}
.blink2 {
	animation: blinker 2s linear infinite;
}
.blink3 {
	animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
img {
	opacity: 1;
}
img:hover {
	opacity: 0.8;
}
