body {
	background-color: #f8f8f8;
	background-image:url(./clouds.png);
	background-repeat: repeat-x;
	background-position: top;
	font-size: large;
	margin: auto;
	margin-top: 20px;
	font-family: monospace;
	max-width:800px;
	padding:0 10px;
}

table, th {
	border: 6px solid black;
	padding: 8px;
	table-layout: fixed;
	width: 100%;
	background-color: #a8a8a8;
}

tr {
	background-color: #f8f8f8;
}

#centered, h2 {
	text-align: center;
}

a, a:visited {
	font-family: monospace;
	color: #606060;
	text-decoration: underline;
}