body {
	margin: auto;
	margin-top: 10px;
	font-family: monospace;
	background-color: #000000;
	color: #ffffff;
	max-width: 600px;
}

body.index {
	max-width: 400px !important;
}

h1, h2, .center {
	text-align: center;
}

img {
	padding: 8px;
	max-width: 40px;
	max-height: 60px;
	filter: invert(100%);
}
