body {
	background-color: #000000; 
	color: #A30262;
	max-width: 1000px;
	margin: auto;
	margin-top: 10px;
	font-family: serif;
}
a, a:visited {
	text-decoration: underline; 
	color: #FFBF69;
}
.download {
	font-weight: bold;
	text-align: center;
}
img {
	padding: 8px;
}
img.big {
	width: 100%;
	height: auto;
	padding: 0px;
}
h1, h2, h3, p {
	text-align: center;
}
p {
	margin-left: 5px;
	margin-right: 5px;
}
h1, code {
	color: #cc99ff;
}
h2, b, p {
	color: #D162A4;
}
.note {
	text-align: center;
	color: #cc99ff;
}
table {
	width: 100%;
	padding: 3px;
	color: #ffffff;
}

td, span {
	text-align: center;
}
