img.index {
	float: left;
	padding: 15px;
	width: 150px;
	max-height: 150px;
}

table {
	width: 100%;
	padding: 3px;
}

div.card {
	word-wrap: break-word;
}

body {
	max-width:600px;
	margin: auto;
	background-color: #dfe7ef;
	font-family: monospace !important;
}

table, th, td {
	text-align: center;
	border: 1px solid;
}

h1, h3 {
	text-align: center;
}

hr {
	border: 0;
	border-top: 5px dashed;
}
